<app-header />

<main>
  <div id="dashboard">
    <!-- <div class="dashboard-item">
      <app-server-status />
    </div>

    <div class="dashboard-item">
      <app-traffic />      
    </div>

    <div class="dashboard-item">
      <app-tickets />
    </div> -->

    <!-- <app-dashboard-item [image]="{ src: 'status.png', alt: 'A signal symbol'}" [title]="'Server Status'"> -->
    <!-- OR -->
    <app-dashboard-item [image]="{ src: 'status.png', alt: 'A signal symbol'}" title="Server Status">
      <!-- Angular ignores any content you have between the opening
and closing tags of that custom Component. -->
      <app-server-status />
    </app-dashboard-item>

    <app-dashboard-item [image]="{ src: 'globe.png', alt: 'A globe'}" [title]="'Traffic'">
      <app-traffic />      
    </app-dashboard-item>

    <app-dashboard-item [image]="{ src: 'list.png', alt: 'A list of items'}" [title]="'Support Tickets'">
      <app-tickets />
    </app-dashboard-item>
  </div>
</main>
